extends layout/main.pug

block content
    form(method='post')
        div.form-group
            label Город
            select.form-control(name="city")
                each city, index in cities
                    - var selected = widget.city == index
                    option(value=index selected=selected)= city
        div.form-group
            label На сколько дней выдавать прогноз
            select.form-control(name="period")
                each period in periods
                    - var selected = widget.period == period
                    option(value=period selected=selected)= period
        div.form-group
            label Положение блока на странице
            select.form-control(name="position")
                each position, index in positions
                    - var selected = widget.position == index
                    option(value=index selected=selected)= position
        button(type="submit" class="btn btn-primary")= (widget.id ? 'Редактировать #' + widget.id  : 'Добавить')

    if widget.id
        h4 Example
        script(src="/init_widget_script.js")
        link(href="/widget.css", rel="stylesheet")
        div.weather-forecast(data-id=widget.id)
        script.
            initWeatherForeCastWidget(#{widget.id})


