extends layout/main.pug

block content
    div(class="row marketing")
        h4 Список
        table(class="table")
            thead
                tr
                    td ID
                    td Город
                    td Период
                    td Позиция
                    td Код
                    td
            tbody
            each widget in widgets
                tr
                    td= widget.id
                    td= widget.cityTitle
                    td= widget.period
                    td= widget.positionTitle
                    td
                        textarea
                            <script src="http://#{projectParameters.domain}:3000/init_widget_script.js"></script>
                            <link href="http://#{projectParameters.domain}:3000/widget.css" rel="stylesheet">
                            <div class="weather-forecast vertical" data-id="#{widget.id}"></div>
                            <script>initWeatherForeCastWidget(#{widget.id})</script>
                    td
                        a(href='/edit/' + widget.id class="btn btn-sm btn-info") Ред.